/bin/Debug/*.exe
/bin/Debug/*.pdb
/bin/Debug/*.ilk

/bin/Release/*.exe
/bin/Release/*.pdb

/vs2010/*.sdf
/vs2010/*.suo
/vs2010/*.user
/vs2010/*.opensdf
/vs2010/*.vspx
/vs2010/Debug/*
/vs2010/Release/*

/vs2012/*.sdf
/vs2012/*.suo
/vs2012/*.user
/vs2012/*.opensdf
/vs2012/*.psess
/vs2012/*.vspx
/vs2012/Debug/*
/vs2012/Release/*